body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
  }

.table {
    width: 50%;
}

td {
    border-bottom: 0px;
    text-align: center;
}
  
.bg {
    background-image: url("./static/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darker {
    background:rgba(255, 255, 255,0.4);
    height: 100px;
}

.long-dark {
    background:rgba(255, 255, 255,0.4);
}
  
.shader {
    background:rgba(255, 255, 255,0.3);
    color: black;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.vid-container {
    width: 50%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
